node_modules
.idea
package-lock.json
/NightwatchJs/package.json
/users-api-server/package.json
/WebDriverIO/package.json
/package.json
launch.json
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/users-api-server/node_modules
/log.html
/output.xml
/playwright-log.txt
/report.html
/interactive_console_output.xml
/NightwatchJs/nightwatch
tests_output
*.png
/RobotFramework/log.html
/RobotFramework/output.xml
/RobotFramework/report.html
/Cypress/cypress/videos

