node_modules
.idea
package-lock.json
package.json
launch.json
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/users-api-server/node_modules
/log.html
/output.xml
/playwright-log.txt
/report.html
/interactive_console_output.xml
/NightwatchJs/nightwatch
tests_output
